<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controle de Funcionarios</title>
</head>
<body>
    <h1>Realizar controle de Funcionarios</h1>

    <ul>
        <li><a href="{% url 'website:index' %}"><button>Página Inicial</button></a></li>
        <li><a href="{% url 'website:cadastra_funcionario' %}"><button>Cadastrar Funcionário</button></a></li>
        <li><a href="{% url 'website:lista_funcionarios' %}"><button>Lista de Funcionários</button></a></li>
    </ul>
</body>
</html>